aside {
	position: fixed;
	top: 50px;
	left: 800px;
}
iframe {
	box-shadow: 0 10px 20px, 0 6px 6px;
}
article {
	width: 600px;
	position: absolute;
	top: 30px;
	left: 70px;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
   margin-bottom: 0px;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}
article p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}
li {
	font-family: 'Roboto', sans-serif;
	list-style-type: none;
}
video {
	 margin-right: auto;
	 margin-left: auto;
	 width: 100%;
}
a {
    color: black;
}
